body {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont,"Courier New", 'Droid Sans',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

code {
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor:pointer;
}
